* {
  box-sizing: border-box;
  font-family: "Montserrat";
  letter-spacing: .2em;
}

a {
  font-size: .9em;
}

a, a:hover, a:visited, a:active, a:focus {
  text-decoration: none;

}

:root {
  --text-color: rgb(60, 60, 60);
  --button-fill: rgb(255, 100, 175);
  --button-inverse-fill: rgb(255, 255, 255);
  --circle-width: 800px;
  --window-width: calc(100vw - 17px);
  --chrome-scrollbar-with: 17px;
  --icon-fill: #ffffff;
  --background-blue: #0b1130;
  --background-red: #54101d;
  --translucent-background: rgb(255, 255, 255, .15);
  --image-width: 460px;
}

html {
  /* scroll-behavior: smooth; */

}

body {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  scroll-behavior: smooth;
  /* max-width: 100%; */
  /* width: var(--window-width); */
  height: 100vh;
  overflow-x: hidden;
  z-index: 301;
}

.invisible {
  display: none;
}

/* Navigation */

nav {
  z-index: 300;
  position: fixed;
  width: var(--window-width);
  height: 50px;
  overflow: hidden;
  backdrop-filter: blur(5px);
  
  background-color: var(--background-blue);
  border-bottom: 1px solid white;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.nav-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.nav-buttons a {
  background-color: transparent;
  border: none;
  font-size: .9em;
  color: white;
  cursor: pointer;
  margin-left: 24px;
  padding: 8px 8px 8px 10px;
}

nav .button-wrapper {
  align-self: flex-end;
}

body.hasHover .nav-buttons a:hover {
  padding-bottom: 7px;
  border-bottom: 1px solid white;
}

/* Planet */

.planet h1 {
  font-size: 2.5em;
  font-weight: normal;
}

.planet h2 {
  font-size: 1.4em;
  letter-spacing: .6em;
  font-weight: normal;
}

.planet hr {
  height: 0px;
  border: none;
  border-top: 1px solid white;
  width: 100%;
}

.planet h1, .planet h2 {
  color: white;
  margin: 0px;
  margin-bottom: 18px;
  width: fit-content;
  display: inline-block;
}

.planet {
  position: absolute;
  overflow-y: visible;
  top: 100px;
  left: calc((var(--window-width) / 2) - (var(--circle-width) / 2));
  width: var(--circle-width);
  height: var(--circle-width);
  border-radius: calc(var(--circle-width) / 2);
  background-color: var(--background-red);

  padding: 100px;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.planet-ring-inner, .planet-ring-outer {
  position: absolute;
  border: 3px solid var(--background-red);
  z-index: -100;
}

.planet-ring-inner {
  width: calc(var(--circle-width) * 1.03);
  height: calc(var(--circle-width) * 1.03);
  border-radius: 50%;
  top: calc(var(--circle-width) * .015 * -1);
  left: calc(var(--circle-width) * .015 * -1);
}

.planet-ring-outer {
  width: calc(var(--circle-width) * 1.06);
  height: calc(var(--circle-width) * 1.06);
  border-radius: 50%;
  top: calc(var(--circle-width) * .03 * -1);
  left: calc(var(--circle-width) * .03 * -1);
}

/* About Button */

.about {
  min-height: 0px;
  margin-bottom: 4px;
  transition: min-height .15s ease;
  overflow: hidden;
}

.about-button {
  color: white;
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid white;

  display: flex;
  flex-flow: row nowrap;
}

.expand-icon {
  margin-left: 10px;
  width: 12px;
  height: 12px;

  transform-origin: 6px 10px;
  transition: transform .15s linear;
}

.about-section {
  font-size: 1em;
  letter-spacing: normal;
  color: white;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 30px;
  margin-top: 8px;
  padding: 18px;
  padding-bottom: 22px;
  
  overflow: hidden;
  transition: min-height .15s ease;
}

/* .deployed {
  min-height: 1000px;
  height: fit-content;
} */

.rotated {
  transform: rotate(180deg);
}

/* Socials */

.socials {
  padding: 8px;
  display: flex;
  flex-flow: row nowrap;
}

.social-icon {
  margin: 4px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* Homepage Buttons */

.button-wrapper {
  position: relative;
  z-index: 100;
}

.button-wrapper span {
  white-space: nowrap;
}

.animated-button {
  margin: 8px;
  position: relative;
  overflow: hidden;
  border: 1px solid white;
  color: white;
  border-radius: 3px;
  padding: 8px;
  background-color: transparent;
  cursor: pointer;
  transition: color .15s linear;
  
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.button-icon {
  display: inline-block;
  min-width: 18px;
  height: 18px;
  margin-right: 10px;
}

.button-back {
  position: absolute;
  top: 0px;
  z-index: -1;
  right: 100%;
  height: 200px;
  width: 200px;
  border: 2px solid white;
  background-color: var(--translucent-background);
  transform-origin: top right;
  transform: rotate(22.5deg);
  transition: right .15s linear;
}

body.hasHover .animated-button:hover .button-back {
  right: -18px;
}

.ground {
  position: relative;
  width: var(--window-width);
  /* min-height: 3000px; */
  background-color: var(--background-blue);

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

/* Portfolio Button Decor */

.decor {
  margin-top: 40px;
  margin-bottom: 120px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.lines-left, .lines-right {
  display: flex;
  flex-flow: column nowrap;
}

.lines-left {
  align-items: flex-end;
}

.lines-right {
  align-items: flex-start;

}

.line-with-dot, .line-with-dot-mid {
  max-height: 9px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.line-with-dot hr {
  width: 100px;
}

.line-with-dot-mid hr {
  width: 138px;
}

.dot {
  position: relative;
  width: 6px;
  height: 6px;
  border-radius: 4px;
  background-color: white;
}

.dot * {
  border: .2px solid white;
}

.dot-border-inner {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  /* transform: scale(2); */
}

.dot-border-outer {
  position: absolute;
  top: -100%;
  left: -100%;
  width: 300%;
  height: 300%;
  border-radius: 50%;
  /* transform: scale(4); */
}

/* Circular Portfolio Button */

.portfolio-button {
  letter-spacing: 2px;

  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 70px;
  border: 1px solid #ffffff;
  color: white;
  padding: 18px;

  cursor: pointer;
  overflow: hidden;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.portfolio-border {
  position: absolute;
  width: 140px;
  height: 140px;
  border: 1px solid white;
  border-radius: 70px;
  transition: transform .15s ease;
}

.portfolio-button .hover-div {
  position: absolute;
  top: -140px;
  width: 140px;
  height: 140px;
  background-color: var(--translucent-background);
  border-bottom: 1px solid white;

  transition: top .15s linear;
}

.arrow-upper, .arrow-lower{
  position: absolute;
  width: 30px;
  height: 30px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.portfolio-icon {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 18%;
}

.arrow-upper {
  top: 18%;
}

.arrow-lower {
  top: 66%;
}

body.hasHover .portfolio-button-container:hover .hover-div {
  top: 0px;
}

body.hasHover .portfolio-button-container:hover .portfolio-border{
  transform: scale(1.1);
}

/* Projects Section */

.project-section {
  width: var(--window-width);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.project {
  width: var(--window-width);

  overflow: hidden;
  margin-bottom: 98px;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* align-items: center; */
}

.slider-wrapper {
  padding: 18px 0px 18px 0px;
  margin-right: 22px;
  position: relative;
  overflow: hidden;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  /* height: 100%; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.slides-container {
  width: var(--image-width);
  /* height: auto; */
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 3px;
  /* margin-top: 4px; */

  overflow: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */

  display: flex;
}

/* WebKit */
.slides-container::-webkit-scrollbar { 
  width: 0;
  height: 0;
}

.slide-arrow {
  border: none;
  background-color: transparent;
  min-width: 22px;
  height: 22px;
  cursor: pointer;
}

.button-disabled {
  --icon-fill: rgba(255, 255, 255, .4);
  cursor: default;
}

.chevron {
  height: auto;
  width: 100%;
}

.slide {
  /* width: var(--image-width); */
  /* height: 1%; */
}

.image {
  display: block;
  width: var(--image-width);
  /* height: auto; */
}

.project-info {
  color: white;
  max-width: 433px;
  height: 100%;

  /* border: 1px solid white; */

  display: flex;
  flex-flow: column nowrap;
}

.project-info p {
  letter-spacing: normal;
  line-height: 2em;

  
  /* height: calc(100% - 10px); */
}

.project-info a {
  margin: 0;
  width: fit-content;
}

.tools {
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
  font-size: .8em;
  font-weight: bold;

  display: flex;
  flex-flow: row wrap;
}

.tools pre {
  margin: 0;
}

.project-info h2 {
  margin: 0;
  letter-spacing: .2em;
  font-weight: bold;
}

.image-wrapper {
  padding: 16px 22px 16px 22px;
  margin-right: 22px;
  position: relative;
  overflow: hidden;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.demo-links {
  display: flex;
  flex-wrap: wrap;
}

.demo-links .button-wrapper {
  margin-top: 8px;
}

.demo-links .animated-button {
  margin-right: 8px;
}

/* Resume Section */

.resume-decor {
  margin: 80px 0px 80px 0px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

/* Contact Me Section */

.contact-me {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}

.contact-form {
  width: 600px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.contact-form * {
  font-size: 1em;
  letter-spacing: normal;
}

.contact-form h2 {
  border-bottom: 1px solid white;
  letter-spacing: .2em;
  padding: 0px 6px 6px 8px;
}

.name-and-email {
  width: 100%;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.name-and-email input {
  width: calc(50% - 4px);
  margin: 0;
}

textarea {
  width: 100%;
  height: 200px;
  resize: none;
  margin-bottom: 18px;
}

.name-and-email input, textarea {
  padding: 12px;
  background-color: var(--translucent-background);
  border-radius: 3px;
  border: none;
  color: white;
}

.name-and-email input:focus, textarea:focus {
  outline: none;
}

.name-and-email input::placeholder, textarea::placeholder {
  color: rgb(255, 255, 255, .6);
}

/* Affermation Screen */

.affirmation-screen {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;

  display: none;
  justify-content: center;
  align-items: center;
}

.affirmation-modal {
  /* height: 60%; */
  max-width: 600px;
  position: fixed;

  font-size: 20px;
  padding: 20px;
  color: white;
  background-color: var(--background-blue);
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.3);
  opacity: 1;
  z-index: 6000;
  border-radius: 3px;
  border: 1px solid white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.affirmation-modal p {
  text-align: center;
}

.affirmation-modal span {
  padding-left: 3px;
}

.accept-button {
  display: inline-block;

  background-color: var(--button-fill);
  color: white;
  padding: 10px 20px 10px 20px;
  margin-top: 20px;
  user-select: none;
  cursor: pointer;

  letter-spacing: .2em;
}

body.hasHover .accept-button:hover {
  background-color: rgb(225, 70, 145);;
}

.visible {
  display: flex;
}

.non-scrollable {
  height: 100%;
  overflow-y: hidden;
}

@media (max-width: 1100px) {
  .project {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .slider-wrapper {
    margin: 0;
  }

  .image-wrapper {
    margin: 0;
  }

  .project-info {
    margin-top: 24px;
    max-width: 504px;
    height: auto;
  }
}

@media (max-width: 700px) {
  .planet {
    height: 1000px;
  }

  .planet h2, .planet h1, hr {
   max-width: 80vw;
    text-align: center;
  }

  .planet h2 {
    font-size: 14px;
  }

  .about-section {
    max-width: 80vw;
  }

  .project {
    max-width: 80%;
  }

  .slider-wrapper {
    max-width: 100%;
    height: auto;
  }

  .window {
    overflow: hidden;
    height: auto;
  }
  
  .slides-container {
    max-width: calc(100% - 44px);
    max-width: 100%;
    height: auto;
  }

  .slide {
    min-width: 100%;
  }

  .image {
    max-width: 100%;
  }

  .contact-me {
    width: 80%;
  }

  .contact-form {
    
  }

  .name-and-email {
    flex-direction: column;
    padding: 0;
  }

  #name-input, #email-input {
    width: 100%;
    margin-bottom: 8px;
  }
}

@media (max-width: 520px) {
  .planet {
    padding-top: 60px;
  }

  .planet h1 {
    font-size: 30px;
  }
}